<a href="https://colab.research.google.com/github/bhavya1234/ICTA--Assignments-and-Case-study/blob/main/Bhavya_S_L_(Assignment_on_Model_Selection).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

# Load the dataset into a Pandas DataFrame
titanic_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/datasets/titanic_dataset .csv')

titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
titanic_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [2]:
# Handle missing values in the 'Age' column
titanic_df['Age'].fillna(titanic_df['Age'].median(), inplace=True)

# Drop irrelevant columns ('PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked')
titanic_df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)

# Convert categorical variables into numerical representation (e.g., 'Sex' column)
titanic_df['Sex'] = titanic_df['Sex'].map({'female': 0, 'male': 1})

# Split the dataset into features (X) and target (y)
X = titanic_df.drop('Survived', axis=1)
y = titanic_df['Survived']

In [3]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

# Create kNN model
knn_model = KNeighborsClassifier()

# Create SVM model
svm_model = SVC()

In [4]:
from sklearn.model_selection import cross_val_score, StratifiedKFold

# Perform k-fold cross-validation on kNN model
kfold_scores_knn = cross_val_score(knn_model, X, y, cv=5)
average_accuracy_knn = kfold_scores_knn.mean()

# Perform stratified k-fold cross-validation on SVM model
stratified_kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
kfold_scores_svm = cross_val_score(svm_model, X, y, cv=stratified_kfold)
average_accuracy_svm = kfold_scores_svm.mean()

# Print the average accuracy scores
print("Average Accuracy (kNN):", average_accuracy_knn)
print("Average Accuracy (SVM):", average_accuracy_svm)

Average Accuracy (kNN): 0.691425522566066
Average Accuracy (SVM): 0.6778670516602849